<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sendTag</title>
</head>
<body>
    <h1>Send a Tag</h1>
    <form action="/tagOther" method="post">
        <table class="tab1" border="single">
        <tr>
            <th>Images</th>
            <th>Select</th>
        </tr>
            {% for row in data %}
                <tr>
                    <td><img src="/image/{{row.filePath}}" width="100"/></td>
                    <td><input type="radio" name="selection" value="{{ row['photoID'] }}"/></td>
                </tr>
            {% endfor %}
        </table>
        <br/>
        <input type="text" placeholder="Username here." name="tagUsername"/>
        <br/>
        <input type="submit" value="Confirm">
    </form>

    {% if message %}
        {{ message }}
    {% endif %}
    <br/>
    <a href="/tagSystem">Go Back</a>
</body>
</html>