<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>shareCFG</title>
</head>
<body>
    <form action="/chooseCFG" method="post">
        <div id="tab">
            <p>Select close friend groups that you want to share with.</p>
            <table class="tab1" border="double" >
                <tr>
                    <th>No</th>
                    <th>Group_Name</th>
                    <th>Group Owner</th>
                    <th>Select</th>
                </tr>
                {% for row in data %}
                <tr>
                    <td>{{ row['No'] }}</td>
                    <td>{{ row['groupName'] }}</td>
                    <td>{{ row['groupOwner'] }}</td>
                    <td><input type="checkbox" name="chosen" value="{{ row['No'] }}"/></td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <input type="submit" value="Confirm">
    </form>
    <!--<br/>-->
    <!--<a href="/upload">Go Back</a>-->
</body>
</html>